In [1]:
%matplotlib inline
from pyspark.sql import SparkSession
import pandas as pd

import sys
sys.path.append('..')
from utils.pysparkutils import *

spark = SparkSession.builder.appName("titanic").getOrCreate()

In [2]:
train = spark.read.csv('./train.csv', header="true", inferSchema="true")
test = spark.read.csv('./test.csv', header="true", inferSchema="true")

train.printSchema()
test.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

root
 |-- PassengerId: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [3]:
train.limit(20).toPandas()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,None,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,None,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,None,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,None,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,None,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,None,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,None,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,None,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,None,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,None,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,None,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,None,C

In this section we will explore missing data.

In [4]:
findMissingValuesCols(train)

[177, 687, 2]

We can see almost 80% of Cabin column is missing data. So we will drop the Cabin column.
Very few data is missing in Embarked column. We will just drop those rows.

In [5]:
from pyspark.ml.feature import Imputer
ageImputer = Imputer(inputCols=['Age'], outputCols=['imputedAge'], strategy='median')

In [6]:
train = train.filter(train.Embarked.isNotNull())
train = train.drop('Cabin')
train.printSchema()
train.count()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Embarked: string (nullable = true)

889

In next few sections, we will explore training data and the relationship between different features and labels.
As we already know, most of passengers in Titanic didn't survive. Our training data suggests the same, around one-third of the passengers survived. Same goes for passenger class and sex.

In [7]:
labelCol = 'Survived'
train.groupby(labelCol).count().toPandas()

   Survived  count
0         1    340
1         0    549

In [8]:
train.crosstab(labelCol, 'Sex').toPandas()

  Survived_Sex  female  male
0            1     231   109
1            0      81   468

In [9]:
train.crosstab(labelCol, 'Pclass').toPandas()

  Survived_Pclass    1   2    3
0               1  134  87  119
1               0   80  97  372

In [10]:
# Pointwise mutual information can be normalized between [-1,+1] 
# resulting in -1 (in the limit) for never occurring together,
# 0 for independence,
# and +1 for complete co-occurrence
columns = ['Sex', 'Pclass', 'Embarked', 'SibSp', 'Parch']
pmis = calcNormalizedPointwiseMutualInformation(train, 'Sex', labelCol)
dictToPandasDF(pmis, 'Feature', 'Normalized PMI')

                          Feature  Normalized PMI
0    ((Sex, male), (Survived, 0))        0.424895
1  ((Sex, female), (Survived, 1))        0.490151
2  ((Sex, female), (Survived, 0))       -0.361721
3    ((Sex, male), (Survived, 1))       -0.336078

In [11]:
train.crosstab(labelCol, 'Embarked').toPandas()

  Survived_Embarked   C   Q    S
0                 1  93  30  217
1                 0  75  47  427

In [12]:
train.crosstab(labelCol, 'SibSp').toPandas()

  Survived_SibSp    0    1   2   3   4  5  8
0              1  208  112  13   4   3  0  0
1              0  398   97  15  12  15  5  7

In [13]:
train.crosstab(labelCol, 'Parch').toPandas()

  Survived_Parch    0   1   2  3  4  5  6
0              1  231  65  40  3  0  1  0
1              0  445  53  40  2  4  4  1

Now we will calculate the entropy of categorical features, which will give us the variance for categorical features.

In [14]:
columns = ['Sex', 'Pclass', 'Embarked', 'SibSp', 'Parch']
entropies = calcEntropy(train, *columns)
dictToPandasDF(entropies, 'Feature', 'Entropy')

    Feature   Entropy
0       Sex  0.648037
1    Pclass  0.996710
2  Embarked  0.760292
3     SibSp  0.929045
4     Parch  0.783248

In [15]:
from pyspark.ml import Pipeline
from pyspark.ml.stat import ChiSquareTest
from pyspark.ml.feature import Bucketizer, OneHotEncoderEstimator, StringIndexer, VectorAssembler, VectorIndexer

edaEmbarkedIndexer = StringIndexer(inputCol='Embarked', outputCol='indexedEmbarked')
edaSexIndexer = StringIndexer(inputCol='Sex', outputCol='indexedSex')

edaAgeImputer = Imputer(inputCols=['Age'], outputCols=['imputedAge'], strategy='median')

ageSplits = [0, 16, 32, 48, 64, 200]
edaAgeBucketizer = Bucketizer(splits=ageSplits, inputCol='imputedAge', outputCol='bucketedAge')

fareSplits = [-float('inf'), 7.91, 14.454, 31, float('inf')]
edaFareBucketizer = Bucketizer(splits=fareSplits, inputCol='Fare', outputCol='bucketedFare')

oneHotEncoderEstimator = OneHotEncoderEstimator(inputCols=['indexedSex', 'indexedEmbarked', 'bucketedFare', 'bucketedAge'], 
                                                outputCols=['oneHotSex', 'oneHotEmbarked','oneHotFare', 'oneHotAge'])
inputCols=['Pclass', 'oneHotSex', 'oneHotEmbarked','oneHotFare', 'oneHotAge']
edaAssembler = VectorAssembler(inputCols=inputCols, outputCol='features')

pipeline = Pipeline(stages=[edaEmbarkedIndexer, edaSexIndexer, edaAgeImputer, edaAgeBucketizer, 
                            edaFareBucketizer, oneHotEncoderEstimator, edaAssembler])
chiSqTrain = pipeline.fit(train).transform(train)

r = ChiSquareTest.test(chiSqTrain, 'features', 'Survived').head()
print("pValues: " + str(r.pValues))
print("degreesOfFreedom: " + str(r.degreesOfFreedom))
print("statistics: " + str(r.statistics))

pValues: [0.0,0.0,6.02813466444e-06,4.02603175464e-07,4.93843854699e-11,0.0101897422598,0.0315461645121,4.25298058386e-05,0.00150622342036,0.612884928604,0.116808580457]
degreesOfFreedom: [2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
statistics: [100.980407261,260.756342249,20.4792462347,25.6818141585,43.2014376768,6.60142083307,4.62299205997,16.755010532,10.0709867693,0.255995235761,2.45959925254]

In [16]:
from pyspark.ml.feature import StringIndexer

embarkedIndexer = StringIndexer(inputCol='Embarked', outputCol='indexedEmbarked', handleInvalid='skip')
sexFeatureIndexer = StringIndexer(inputCol='Sex', outputCol='indexedSex', handleInvalid='skip')

In [17]:
from pyspark.ml.feature import Bucketizer

ageSplits = [0, 16, 32, 48, 64, 200]
ageBucketizer = Bucketizer(splits=ageSplits, inputCol='imputedAge', outputCol='bucketedAge', handleInvalid='skip')
fareSplits = [-float('inf'), 7.91, 14.454, 31, float('inf')]
fareBucketizer = Bucketizer(splits=fareSplits, inputCol='Fare', outputCol='bucketedFare', handleInvalid='skip')

In [18]:
from pyspark.ml.feature import OneHotEncoderEstimator, VectorIndexer
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import RandomForestClassifier

oneHotEncoderEstimator = OneHotEncoderEstimator(inputCols=['indexedSex', 'indexedEmbarked', 'bucketedFare', 'bucketedAge'], 
                                                outputCols=['oneHotSex', 'oneHotEmbarked','oneHotFare', 'oneHotAge'])
assembler = VectorAssembler(inputCols=['Pclass', 'SibSp', 'Parch', 'bucketedAge', 
                                       'bucketedFare', 'indexedEmbarked', 'indexedSex'], outputCol='features')
rf = RandomForestClassifier(labelCol=labelCol, featuresCol='features')

In [19]:
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml import Pipeline

pipeline = Pipeline(stages=[ageImputer, embarkedIndexer, sexFeatureIndexer, ageBucketizer, 
                            fareBucketizer, oneHotEncoderEstimator, assembler, rf])

grid = ParamGridBuilder().addGrid(rf.numTrees, [15, 20, 25, 30])\
                         .addGrid(rf.maxDepth, [5, 8])\
                         .build()

cv = CrossValidator(estimator=pipeline, 
                    estimatorParamMaps=grid, 
                    evaluator=BinaryClassificationEvaluator(labelCol=labelCol, metricName='areaUnderROC'), 
                    numFolds=10)

model = cv.fit(train)
train = model.transform(train)

In [20]:
evaluator = model.getEvaluator()
evaluator.evaluate(train)

0.9271188256723454

In [21]:
test = model.transform(test)

In [22]:
test.limit(20).toPandas()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,bucketedAge,bucketedFare,oneHotSex,oneHotEmbarked,oneHotFare,oneHotAge,features,rawPrediction,probability,prediction
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,None,...,2.0,0.0,(1.0),"(0.0, 0.0)","(1.0, 0.0, 0.0)","(0.0, 0.0, 1.0, 0.0)","(3.0, 0.0, 0.0, 2.0, 0.0, 2.0, 0.0)","[29.0059635324, 0.994036467627]","[0.966865451079, 0.0331345489209]",0.0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,None,...,2.0,0.0,(0.0),"(1.0, 0.0)","(1.0, 0.0, 0.0)","(0.0, 0.0, 1.0, 0.0)","[3.0, 1.0, 0.0, 2.0, 0.0, 0.0, 1.0]","[16.9685766738, 13.0314233262]","[0.565619222461, 0.434380777539]",0.0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,None,...,3.0,1.0,(1.0),"(0.0, 0.0)","(0.0, 1.0, 0.0)","(0.0, 0.0, 0.0, 1.0)","[2.0, 0.0, 0.0, 3.0, 1.0, 2.0, 0.0]","[29.3161652245, 0.683834775534]","[0.977205507482, 0.0227944925178]",0.0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,None,...,1.0,1.0,(1.0),"(1.0, 0.0)","(0.0, 1.0, 0.0)","(0.0, 1.0, 0.0, 0.0)","(3.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0)","[25.8079441936, 4.19205580637]","[0.860264806454, 0.139735193546]",0.0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,None,...,1.0,1.0,(0.0),"(1.0, 0.0)","(0.0, 1.0, 0.0)","(0.0, 1.0, 0.0, 0.0)","[3.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0]","[17.1752763967, 12.8247236033]","[0.572509213225, 0.427490786775]",0.0
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,None,...,0.0,1.0,(1.0),"(1.0, 0.0)","(0.0, 1.0, 0.0)","(1.0, 0.0, 0.0, 0.0)","(3.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0)","[17.8531489411, 12.1468510589]","[0.595104964703, 0.404895035297]",0.0
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,None,...,1.0,0.0,(0.0),"(0.0, 0.0)","(1.0, 0.0, 0.0)","(0.0, 1.0, 0.0, 0.0)","[3.0, 0.0, 0.0, 1.0, 0.0, 2.0, 1.0]","[7.38263541958, 22.6173645804]","[0.246087847319, 0.753912152681]",1.0
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,None,...,1.0,2.0,(1.0),"(1.0, 0.0)","(0.0, 0.0, 1.0)","(0.0, 1.0, 0.0, 0.0)","[2.0, 1.0, 1.0, 1.0, 2.0, 0.0, 0.0]","[26.8994631186, 3.10053688142]","[0.896648770619, 0.103351229381]",0.0
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,None,...,1.0,0.0,(0.0),"(0.0, 1.0)","(1.0, 0.0, 0.0)","(0.0, 1.0, 0.0, 0.0)","[3.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0]","[5.47848775823, 24.5215122418]","[0.182616258608, 0.817383741392]",1.0
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,None,...,1.0,2.0,(1.0),"(1.0, 0.0)","(0.0, 0.0, 1.0)","(0.0, 1.0, 0.0, 0.0)","[3.0, 2.0, 0.0, 1.0, 2.0, 0.0, 0.0]","[28.3527681255, 1.64723187454]","[0.945092270849, 0.0549077291512]",0.0
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,None,...,1.0,0.0,(1.0),"(1.0, 0.0)","(1.0, 0.0, 0.0)","(0.0, 1.0, 0.0, 0.0)","(3.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","[27.1440976523, 2.85590234771]","[0.904803255076, 0.0951967449238]",0.0
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,None,...,2.0,2.0,(1.0),"(1.0, 0.0)","(0.0, 0.0, 1.0)","(0.0, 0.0, 1.0, 0.0)","(1.0, 0.0, 0.0, 2.0, 2.0, 0.0, 0.0)","[13.8060048668, 16.1939951332]","[0.460200162228, 0.539799837772]",1.0
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,...,1.0,3.0,(0.0),"(1.0, 0.0)","(0.0, 0.0, 0.0)","(0.0, 1.0, 0.0, 0.0)","[1.0, 1.0, 0.0, 1.0, 3.0, 0.0, 1.0]","[1.37100608715, 28.6289939128]","[0.0457002029051, 0.954299797095]",1.0
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,None,...,3.0,2.0,(1.0),"(1.0, 0.0)","(0.0, 0.0, 1.0)","(0.0, 0.0, 0.0, 1.0)","[2.0, 1.0, 0.0, 3.0, 2.0, 0.0, 0.0]","[28.3915719514, 1.60842804856]","[0.946385731715, 0.0536142682853]",0.0
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,...,2.0,3.0,(0.0),"(1.0, 0.0)","(0.0, 0.0, 0.0)","(0.0, 0.0, 1.0, 0.0)","[1.0, 1.0, 0.0, 2.0, 3.0, 0.0, 1.0]","[1.21856967238, 28.7814303276]","[0.0406189890794, 0.959381010921]",1.0
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,None,...,1.0,2.0,(0.0),"(0.0, 1.0)","(0.0, 0.0, 1.0)","(0.0, 1.0, 0.0, 0.0)","[2.0, 1.0, 0.0, 1.0, 2.0, 1.0, 1.0]","[2.47700817701, 27.522991823]","[0.0825669392336, 0.917433060766]",1.0
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,None,...,2.0,1.0,(1.0),"(0.0, 0.0)","(0.0, 1.0, 0.0)","(0.0, 0.0, 1.0, 0.0)","[2.0, 0.0, 0.0, 2.0, 1.0, 2.0, 0.0]","[25.2172502687, 4.78274973132]","[0.840575008956, 0.159424991044]",0.0
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,None,...,1.0,0.0,(1.0),"(0.0, 1.0)","(1.0, 0.0, 0.0)","(0.0, 1.0, 0.0, 0.0)","(3.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0)","[25.5276119983, 4.47238800171]","[0.850920399943, 0.149079600057]",0.0
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,None,...,1.0,1.0,(0.0),"(1.0, 0.0)","(0.0, 1.0, 0.0)","(0.0, 1.0, 0.0, 0.0)","[3.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0]","[22.6875022986, 7.31249770136]","[0.756250076621, 0.243749923379]",0.0
19,911,3,"""Assaf Khalil, Mrs. Mariana (Miriam"""")""""""",female,45.0,0,0,2696,7.2250,None,...,2.0,0.0,(0.0),"(0.0, 1.0)","(1.0, 0.0, 0.0)","(0.0, 0.0, 1.0, 0.0)","[3.0, 0.0, 0.0, 2.0, 0.0, 1.0, 1.0]","[15.9344561984, 14.0655438016]","[0.531148539946, 0.468851460054]",0.0

Write the predictions to CSV file in Kaggle specified format.

In [23]:
import os.path
from pyspark.sql.types import IntegerType

csvPath = 'prediction.csv'

if not os.path.exists(csvPath):
    test.select('PassengerId', 'prediction')\
        .coalesce(1)\
        .withColumn('Survived', test['prediction'].cast(IntegerType()))\
        .drop('prediction')\
        .write.csv(csvPath, header='true')